<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().filter(error => error.msg !== "Invalid value").forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div>
    <form action="/account/register" method="post">
        <fieldset>
            <label for="accountFirstname">First name:</label>
            <input type="text" id="accountFirstname" name="account_firstname" required value="<%= locals.account_firstname %>">
            <label for="accountLastname">Last name:</label>
            <input type="text" id="accountLastname" name="account_lastname" required value="<%= locals.account_lastname %>">
            <label for="accountEmail">Email:</label>
            <input type="email" id="accountEmail" name="account_email" required placeholder="Enter a valid email address" value="<%= locals.account_email %>">
            <label for="accountPassword">Password:</label>
            <input type="password" id="accountPassword" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            <label class="note">Your password must have 12 characters, include a number, lowercase letter, capital letter, and a special character.</label>
            <input type="submit" value="REGISTER">
          </fieldset>
    </form>
</div>
<script src="/js/script.js"></script>